<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
  <div
    class="carousel-wrapper"
    {{did-insert this.setupCarousel}}
    {{will-destroy this.teardownCarousel}}
  >

    <div
      class="carousel-track"
      style="transform: {{this.translateValue}};"
    >
      {{#each this.slides as |slide|}}
        <div class="carousel-slide">
          <img
            class="img-fluid w-100"
            src={{slide.image}}
            alt=""
          />

          <div
            class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center header-carousel-overlay"
          >
            <div class="container">
              <div class="row justify-content-start">
                <div class="col-sm-10 col-lg-8">
                  <h5 class="text-primary text-uppercase mb-3">
                    {{slide.subtitle}}
                  </h5>

                  <h1 class="display-3 text-white">
                    {{slide.title}}
                  </h1>

                  <p class="fs-5 text-white mb-4 pb-2">
                    {{slide.description}}
                  </p>

                  <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3">
                    Read More
                  </a>

                  <a href="#" class="btn btn-light py-md-3 px-md-5">
                    Join Now
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <!-- Buttons -->
    <div
      class="position-absolute top-50 end-0 translate-middle-y me-5 d-flex flex-column"
      style="z-index: 2;"
    >
      <button
        class="btn btn-square btn-outline-light mb-3"
        type="button"
        {{on "click" this.prevSlide}}
      >
        ‹
      </button>

      <button
        class="btn btn-square btn-outline-light"
        type="button"
        {{on "click" this.nextSlide}}
      >
        ›
      </button>
    </div>

  </div>
</div>
<!-- Carousel End -->