<div class="auth-container">
  <h2>Sign Up</h2>

  <form {{on "submit" this.signup}}>
    <input
      type="email"
      placeholder="Email"
      value={{this.email}}
      {{on "input" this.updateEmail}}
      required
    />

    <input
      type="password"
      placeholder="Password"
      value={{this.password}}
      {{on "input" this.updatePassword}}
      required
    />

    <button type="submit">Sign Up</button>
  </form>

  <p>{{this.message}}</p>

  <hr>

  <button {{on "click" this.googleLogin}}>
    Sign Up with Google
  </button>
</div>