<div class='student-question-card'>
  {{#if (eq this.question.type 'MCQ')}}
    {{#each this.question.options as |opt|}}
      <label
        class='mcq-option
          {{if (eq this.userAnswer.selectedOptionId opt.id) "selected"}}'
      >
        <input
          type='radio'
          name='q-{{this.question.id}}'
          checked={{eq this.userAnswer.selectedOptionId opt.id}}
          {{on 'change' (fn this.selectOption opt.id)}}
        />
        <span>{{opt.text}}</span>
      </label>
    {{/each}}

  {{else if (eq this.question.type 'TRUE_FALSE')}}
    <label
      class='mcq-option
        {{if (eq this.userAnswer.textAnswer "true") "selected"}}'
    >
      <input
        type='radio'
        name='q-{{this.question.id}}'
        checked={{eq this.userAnswer.textAnswer 'true'}}
        {{on 'change' (fn this.selectTrueFalse 'true')}}
      />
      <span>True</span>
    </label>
    <label
      class='mcq-option
        {{if (eq this.userAnswer.textAnswer "false") "selected"}}'
    >
      <input
        type='radio'
        name='q-{{this.question.id}}'
        checked={{eq this.userAnswer.textAnswer 'false'}}
        {{on 'change' (fn this.selectTrueFalse 'false')}}
      />
      <span>False</span>
    </label>

  {{else if (eq this.question.type 'FILL')}}
    <label for='fill-answer-{{this.question.id}}' class='sr-only'>
      Fill in the answer
    </label>
    <input
      type='text'
      id='fill-answer-{{this.question.id}}'
      class='fill-input'
      placeholder='Type your answer here...'
      value={{this.userAnswer.textAnswer}}
      {{on 'input' this.inputFillAnswer}}
    />
  {{/if}}
</div>